
.resourceslist {
	display: inline-block;
	background-image: url('./img/wood.png');
	border: 1px solid #240b0b;
	border-radius: 5px;
	padding: 20px;
	width: 200px;
	height: 500px;
	float: left;

	
  }
  
.setlement{
	
	background-image: url('./img/backgrond.png');
	border: 1px solid #240b0b;
	border-radius: 5px;
	padding: 20px;
	width:800px;
	height: 500px;
	text-align: center;
	display: inline-block;
	float: left;
   
}




  .h2 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	color: #333;
  }
  
  .ul {

	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	font-size: 16px;
	color: #333;
  }

 

.header {
  height: 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-position: left;
}



.nav{

  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
  font-size: 100%;
  font: 400 16px/26px 'DIN Next W01',Helvetica,Arial,sans-serif;
}

.gamenav{
	background-color: red;
	display: flex;
	justify-content: space-evenly;
	font-size: 100%;
	font: 400 16px/26px 'DIN Next W01',Helvetica,Arial,sans-serif;
}


.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  
  
  
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;

}

.nav li.active{
  background-color: #0070f3;

}

.nav li:hover{
  background-color: #36be93;
}

.container {
  padding: 0 1rem;
  size: 0cap;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 2;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
  font-size: 3rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  
}

.card {
  margin: 1rem;
  text-align: left;
  text-decoration: none;
  border: 3px solid #010101;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width:300px) {
  .grid {
    width: 100%;
    flex-direction: column;
    
  }
}
